# Rust Stack Allocations
CONFIG_ESP_MAIN_TASK_STACK_SIZE=20480
CONFIG_ESP_SYSTEM_EVENT_TASK_STACK_SIZE=4096
CONFIG_FREERTOS_IDLE_TASK_STACKSIZE=4096
CONFIG_PTHREAD_TASK_STACK_SIZE_DEFAULT=4096
CONFIG_LOG_DEFAULT_LEVEL_INFO=y

# FIX: Boost system clock speed to resolve video streams and storage timing errors
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ=240

# Camera Module Configurations
CONFIG_ESP32_CAMERA_ENABLED=y
CONFIG_SYSTEM_EVENT_TASK_STACK_SIZE=4096
CONFIG_OV3660_SUPPORT=y
CONFIG_ESP32_CAMERA_TASK_STACK_SIZE=4096

# FIX: Forces the build toolchain to include the native SDMMC peripheral driver stubs
CONFIG_SDMMC_HOST_ENABLED=y
CONFIG_SDMMC_USE_PERIPH_ONLY=y

# High-Speed Performance Memory Layout (Required for your face vector models)
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y

# Hardware I2C Driver Mappings
CONFIG_SCCB_HARDWARE_I2C_DRIVER_LEGACY=y

# Forces all console log routing away from JTAG and straight onto UART0 (Pins 43/44)
CONFIG_ESP_CONSOLE_UART=y
CONFIG_ESP_CONSOLE_UART_NUM=0
CONFIG_ESP_CONSOLE_UART_BAUDRATE=1115200
CONFIG_ESP_CONSOLE_SECONDARY_NONE=y
